.btn {
  background-color: aquamarine;
  border: turquoise;
  color: black;
  padding: 15px 32px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: black;
  color: turquoise;
}